dist/
build/
# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
trajectories/
*.class

test.py
test.ipynb
*.log

messages_log.json

.idea
.vscode
.vscode-test
.vscode-test-*
.idea/*
.vscode/*
patch_apis.py
.git
.arize-phoenix

todo.txt

# 环境变量文件
.env
.env.local
.env.*.local
/tmp/
/App/.gradle/
App/local.properties
droidrun.yaml
.gradle/
